{% extends "base.html" %} {% block bodycontent %}
<div class="container">
    <h2>Introduction to backend</h2>
    <div class="columns">
        <div class="column col-xl-3 col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <div class="card">
                <div class="card-image">
                    <img src="img/osx-el-capitan.jpg" class="img-responsive" />
                </div>
                <div class="card-header">
                    <h4 class="card-title">ROT13 Encoding</h4>
                    <h6 class="card-meta">Software and hardware</h6>
                </div>
                <div class="card-body">
                    To make a contribution to the world by making tools for the mind that advance humankind.
                </div>
                <div class="card-footer">
                    <a href="/rot13" class="btn btn-primary">View</a>
                </div>
            </div>
        </div>
        <div class="column col-xl-3 col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <div class="card">
                <div class="card-image">
                    <img src="img/osx-el-capitan.jpg" class="img-responsive" />
                </div>
                <div class="card-header">
                    <h4 class="card-title">FizzBuzz Game</h4>
                    <h6 class="card-meta">Software and hardware</h6>
                </div>
                <div class="card-body">
                    To make a contribution to the world by making tools for the mind that advance humankind.
                </div>
                <div class="card-footer">
                    <a href="/fizzbuzz" class="btn btn-primary">View</a>
                </div>
            </div>
        </div>
        <div class="column col-xl-3 col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <div class="card">
                <div class="card-image">
                    <img src="img/osx-el-capitan.jpg" class="img-responsive" />
                </div>
                <div class="card-header">
                    <h4 class="card-title">User Signup</h4>
                    <h6 class="card-meta">Software and hardware</h6>
                </div>
                <div class="card-body">
                    To make a contribution to the world by making tools for the mind that advance humankind.
                </div>
                <div class="card-footer">
                    <a href="/signup" class="btn btn-primary">View</a>
                </div>
            </div>
        </div>
        <div class="column col-xl-3 col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <div class="card">
                <div class="card-image">
                    <img src="img/osx-el-capitan.jpg" class="img-responsive" />
                </div>
                <div class="card-header">
                    <h4 class="card-title">Todo List</h4>
                    <h6 class="card-meta">Software and hardware</h6>
                </div>
                <div class="card-body">
                    To make a contribution to the world by making tools for the mind that advance humankind.
                </div>
                <div class="card-footer">
                    <a href="/todolist" class="btn btn-primary">View</a>
                </div>
            </div>
        </div>
        <div class="column col-xl-3 col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <div class="card">
                <div class="card-image">
                    <img src="img/osx-el-capitan.jpg" class="img-responsive" />
                </div>
                <div class="card-header">
                    <h4 class="card-title">ASCII Chan</h4>
                    <h6 class="card-meta">Software and hardware</h6>
                </div>
                <div class="card-body">
                    To make a contribution to the world by making tools for the mind that advance humankind.
                </div>
                <div class="card-footer">
                    <a href="/asciichan" class="btn btn-primary">View</a>
                </div>
            </div>
        </div>
        <div class="column col-xl-3 col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <div class="card">
                <div class="card-image">
                    <img src="img/osx-el-capitan.jpg" class="img-responsive" />
                </div>
                <div class="card-header">
                    <h4 class="card-title">Blog</h4>
                    <h6 class="card-meta">Software and hardware</h6>
                </div>
                <div class="card-body">
                    To make a contribution to the world by making tools for the mind that advance humankind.
                </div>
                <div class="card-footer">
                    <a href="/blog" class="btn btn-primary">View</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
